<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin-Login</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> 
    <link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet" /> 
    <link href="fontawesome/css/all.min.css" rel="stylesheet" /> 
    <link href="stylesheets/templatemo-diagoona.css" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="theme-color" content="#009578">
    <link rel="manifest" href="../manifest.json">

</head>

<body>
    <div class="">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media" style="color: rgb(6, 89, 138);">
                        <i class="fa fa-male fa-3x mt-1 tm-logo"></i><i class="fa fa-female fa-3x mt-1 tm-logo"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename text-uppercase" style="color: rgb(255, 255, 255);">DOCKCHAIN</h1>
                            <p class="tm-slogon">Document Verification using Blockchain</p>
                        </div>        
                    </div>
                </div>
            </div>
        </div>

        <table>
            <h3>Status</h3>
              <tr>
                <td><b><%= title %></b></td>
              <tr>
                <td><b><%= title1 %></b></td>
              </tr>
              <tr>
                <td><b>Successfully added to the Blockchain</b></td>
              </tr>
              
            </table>
        
    </div>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/templatemo-script.js"></script>
    <script src="javascripts/jquery-3.4.1.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.backstretch.min.js"></script>
    <script src="javascripts/templatemo-script.js"></script>
    <script src="javascripts/script.js"></script>
</body>
</html>